<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <%- include('./partials/header') -%>


        <div class="addaflavour">
            <h1>What's a flavour you'd like to see us add?</h1>
            <form action="/suggest" method="post">
                <div class="flavour">
                    <input type="text" name="flavour" id="flavour">
                </div>
                <button>Submit</button>
        </div>

    </div>


</body>

</html>