<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <!--Write out all flavours-->
    <div class="wrapper">
        <div class="topimage"></div>
        <nav>
            <a href="/">Home</a>
            <a href="/addaflavour">Suggest a flavour!</a>
            <a href="/leaderboard">Top Flavours</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>

        <div class="poll">
            <form action="/vote" method="post">
                <h3>What's your favourite flavour?</h3>
                <div class="optionsContainer">
                    <% for (let i=0; i < flavours.length; i++) { %>
                        <div class="pollbox">
                            <p class="name">
                                <%=flavours[i].flavour_name%>
                            </p>
                            <div class="vote">
                                <input type="radio" name="radioinput" value="<%=flavours[i].flavour_name%>"
                                    id="yumradio">
                                <p class="yum">😋 YUM!</p>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="anonLogin">
                    <div class="username">
                        <label for="username">Name:</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="email">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" required>
                    </div>
                </div>
                <button>VOTE!</button>
            </form>
        </div>
    </div>
</body>

</html>